docs/Neuronlike_adaptive_elements_that_can_solve_difficult_learning_control_problems_Barto1983.pdf filter=lfs diff=lfs merge=lfs -text
docs/NIPS-1999-actor-critic-algorithms-Paper.pdf filter=lfs diff=lfs merge=lfs -text
docs/Survey_of_Actor-Critic_Reinforcement_Learning-Standard_and_Natural_Policy_Gradients_Grondman_2012.pdf filter=lfs diff=lfs merge=lfs -text
